<ul>
  <% spots.each do |spot| %>
    <% time_slot = @time_slots.find{ |ts| ts.weekly_period == spot } %>
    <% if time_slot.nil? %>
    <li class="single-event empty" data-start="<% if (1..5).include?(spot.to_i)%>9<% elsif (6..10).include?(spot.to_i) %>10<% elsif (11..15).include?(spot.to_i) %>11<% elsif (16..20).include?(spot.to_i) %>13<% end %>:00" data-end="<% if (1..5).include?(spot.to_i)%>9<% elsif (6..10).include?(spot.to_i) %>10<% elsif (11..15).include?(spot.to_i) %>11<% elsif (16..20).include?(spot.to_i) %>13<% end %>:45">
        <button type="button" class="btn add-flex" data-toggle="modal" data-target="#exampleModal<%= spot %>">
          <span id="plus-sign"><i class="fas fa-plus"></i></span> Add Flexclass
        </button>
      </li>
      <div class="modal fade" id="exampleModal<%= spot %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Choose your class</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="field-set">
                <% lessons = Lesson.select { |lesson| lesson.weekly_periods.include?(spot) }.map(&:title) %>
                <%= simple_form_for [@time_slot] do |f| %>
                  <div class="form-inputs text-center">
                    <%= f.select :lesson, lessons %> <br>
                    <%= f.hidden_field :weekly_period, value: spot %>
                  </div>
                    <div>
                      <div class="form-actions text-center">
                        <%= f.submit "Add Class", class: "btn submits-new add-lesson" %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <li class="single-event" data-start="<%= time_slot.start_time %>:00" data-end="<%= time_slot.start_time %>:45" data-content="/lessons/<%= time_slot.lesson.id %>" data-event="event-<%= time_slot.lesson.id  %>">
        <a href="#0">
          <em class="event-name"><%= time_slot.lesson.title %> <span class="teacher-name">(<%= time_slot.lesson.teacher.user.last_name %> )</span> </em>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
