<ul>
  <% spots.each do |spot| %>
    <% time_slot = @time_slots.find{ |ts| ts.weekly_period == spot } %>
    <% if time_slot.nil? %>
    <li class="single-event empty" data-start="<% if (1..5).include?(spot.to_i)%>9<% elsif (6..10).include?(spot.to_i) %>10<% elsif (11..15).include?(spot.to_i) %>11<% elsif (16..20).include?(spot.to_i) %>13<% end %>:00" data-end="<% if (1..5).include?(spot.to_i)%>9<% elsif (6..10).include?(spot.to_i) %>10<% elsif (11..15).include?(spot.to_i) %>11<% elsif (16..20).include?(spot.to_i) %>13<% end %>:45">
        <p> <%= link_to 'add class' , "time_slots/new/#{spot}" %> </p>
      </li>
    <% else %>
      <li class="single-event" data-start="<%= time_slot.start_time %>:00" data-end="<%= time_slot.start_time %>:45" data-content="/" data-event="event-<%= time_slot.lesson.id  %>">
        <a href="#0">
          <em class="event-name"><%= time_slot.lesson.title %></em>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
