<div class="mainbody">
  <div class="banner">
    <header>
      <div class="container headcontent">
          <h1 class="hc-text">Welcome to FlexTables</h1>
          <p class="hc-text">Organize your Lernbüro system easy & paperless</p>
      </div>
    </header>

    <div class="container maincontent">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
          <div class="textarea p-5">
            <h2 class="maincontent">What is FlexTables?</h2>
            <p class="maincontent">FlexTables is optimised for schools with a "Lernbüro" System.</p>
            <br>
            <h2 class="maincontent">For Teachers:</h2>
            <p class="maincontent">Keep track of your student's flex classes, digitalise content and homework and keep track of attendance.</p>
            <br>
            <h2 class="maincontent">For Students:</h2>
            <p class="maincontent">Organise your flex classes and keep track of your homework.</p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="textarea p-5">
            <header class="head-form">
              <h2 class="maincontent">Let's start</h2>
            </header>
            <br>

            <div class="field-set">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email", class: "lg-input maincontent" },
                              label_html: { class: "lg-label maincontent" } %>
                  <%= f.input :password,
                              required: false,
                              input_html: { autocomplete: "current-password", class: "lg-input maincontent" },
                              label_html: { class: "lg-label maincontent" } %>
                  <%= f.input :remember_me,
                              input_html: { class: "rem-input maincontent" },
                              label_html: { class: "rem-label maincontent" },
                              as: :boolean if devise_mapping.rememberable? %>
                </div>

                <div class="form-actions text-center">
                  <%= f.submit "Log in", class: "btn log-in" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container ldp-content">
    <div class="line-wrapper">
      <div class="d-flex justify-content-between">
        <hr class="ldp-content w-25">
        <h2 class="ldp-content">More about the concept Lernbüro</h2>
        <hr class="ldp-content w-25">
      </div>
    </div>
  </div>

  <!--- <div class="schoolsystem-banner"></div> --->

  <div class="container ft-description">
    <p class="ft-text">A "Lernbüro" - learning office is a didactic organizational form for self-organized learning.
    Classes are not teacher-centered, but the teacher oversees the students' learning.
    The Lernbüro or the school provides the learning aids and the topics to be learned.<br>
    The students determine the learning speed and level of difficulty of the tasks individually within predetermined limits.
    The teacher acts as a coach, mentor or project manager who demands the results from his students
    and steers in the right direction as a coach.</p>
    <br>
    <br>
    <p class="ft-text">In the timetable there are "Lernbürostunden" - learning office hours with more classrooms available to the young people.
    For this purpose, there are specialised rooms available for each object,
    who are supervised by a teacher who also provides technical support
    and is available for questions.<br> This enables independent learning at your own pace and interest.
    Max. 30 students per room admitted.</p>
  </div>

  <div class="container hiw">
    <div class="line-wrapper">
      <div class="d-flex justify-content-between align-items-center">
        <hr class="hiw-lw w-25">
        <h2 class="hiw-lw">Positive effects of the "Lernbüro"</h2>
        <hr class="hiw-lw w-25">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="hiw-card">
        <div class="hiw-card-header">
          <h2 class="hiw-text">Your own learning pace</h2>
        </div>
          <div class="hiw-card-info">
            <p class="hiw-text">As more and more rooms - and therefore objects - are available at the same time in the "Lernbürostunden" - learning office hours.
            During these hours, the students can decide which subject they want to attend.
            There they determine their own learning pace and decide for themselves when, how intensively and how long they work on prepared
            modules. </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="hiw-card">
        <div class="hiw-card-header">
          <h2 class="hiw-text">Individual needs</h2>
        </div>
          <div class="hiw-card-info">
            <p class="hiw-text">There are no more regular lessons in these subjects.
            Homework only if there is not enough time at school - this is decision by the student!
            Each object is prepared for self-study (in groups or individually - according to individual needs).</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="hiw-card">
        <div class="hiw-card-header">
          <h2 class="hiw-text">Independent work</h2>
        </div>
          <div class="hiw-card-info">
            <p class="hiw-text">The learning arrangement "Lernbüro" offers the children the opportunity to
               understand learning as a responsible and self-directed process.
               It enables a high degree of differentiation.
               Each student can plan, carry out and conclude their own learning plans in a reflective manner.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!--  <div class="d-flex justify-content-center">
    <%= render "devise/shared/links" %>
  </div> -->

</div>
